.EditProfilePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.EditProfileForm {
  min-width: 400px;
}

.EditButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
